div.hero {
  width: 100%;
  height: 250px;
  /* background-color: purple; */
  /* background-image: linear-gradient(0deg, #fe5f55 1%, #ff3a62); */
  background-image: linear-gradient(0deg, #f6d8ae 1%, #da4167);
  /* background-color: #ffe53b;
  background-image: linear-gradient(147deg, #f6d8ae 0%, #da4167 74%); */
}
