div.playlist {
  background-color: white;
  color: #da4167;
  margin-right: 2px;
  border: 1px solid white;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

button.playlist_save {
  background-color: #083d77;
  color: white;
  font-weight: bold;
  width: 220px;
  margin-bottom: 5px;
  font-size: 20px;
}

button.playlist_save:hover {
  cursor: pointer;
  color: #da4167;
}

div.playlist input {
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #083d77;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

div.playlist input:focus {
  outline: none;
  background-position: 0 -1.7em;
}
