header {
  /* background-color: palegreen; */
  /* background-color: #4158d0;
  background-image: linear-gradient(
    223deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  /* color: #083d77; */
  /* color: #f6d8ae; */
  color: white;
  background-color: #da4167;
}
