a.logo_link {
  text-decoration: none;
  color: #083d77;
  font-weight: bold;
}

a.logo_link:hover {
  cursor: pointer;
  color: #f6d8ae;
}

h1 {
  font-weight: bold;
}

header.header {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

@media only screen and (min-width: 768px) {
  header {
    /* display: flex;
    justify-content: center; */
  }

  header.header {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  nav.nav_bar,
  h1 {
    margin-right: auto;
  }

  h1 {
    /* margin-left: -6.5vw; */
    margin-left: -7vw;
  }

  a.logo_link {
    /* margin-left: 2.5px; */
    /* margin-right: 2.5px; */
  }
}
