div.App {
  text-align: center;
  margin: 0;
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0;
  background: #f6d8ae;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
